*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */

/* Inizio CSS del Header */
header{
    background-color: lightblue;
    padding: 20px; 
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content:space-between;
}

.logo-top{
    flex-grow: 1;
    padding: 10px;
}

.links{
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}

.login{
    flex-grow: 1;
    text-align: right;
    padding: 10px;
}

[class^="col"]{
    background-color: orange;
    border: 1px solid black;
}
/* /Fine parte CSS del Header */

/* Inizio section big pink square */
.pink-squere-part{
    background-color: blue;
    padding: 30px; 
    border-bottom: 2px solid lightblue;
}

.squere-pink{
    margin: 0 auto;
    min-width: 700px;
    min-height: 300px;
    background-color: rgb(247, 69, 224);
    border: 1px solid yellow;
}









/* DEBUG */








